#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*{
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.parent {
  border-radius: 10px;
  border-color: tomato !important;
}
.user-list{
  list-style-type: none;
}
form input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  transition: border-color 0.3s ease;
}

form input:focus {
  border-color: #007bff;
  outline: none;
}
.item{
  color: black;
}

/* CSS */
.button-12 {
 color: rgb(7, 12, 12);
 background-color: rgb(152, 13, 13);
 padding-left: 10px;
}

.button-12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}